temp
lib
pids/*
bin/run.sh
logs/*
vendor
*_logger
db/*.sqlite3
.ruby-version
.DS_Store

# app specific - comes from the templates
config/thin.yml
bin/run.sh
config/database.yml-origin
config/settings.yml
.bundle/config
.vscode
